$content-width: 1300px;
$nav-height: 72px;
$border-radius-md: 10px;
$border-radius-sm: 5px;

// Color
$colors-primary: #fd87c1;
$colors-secondary: #454545;
$colors-white: #ffff;
$colors-black: #030203;
$colors-grey: #7e869c;
$colors-outline: #efefef;
