.product-main {
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  gap: 25px;

  .showcase {
    border: 1px solid $colors-outline;
    border-radius: $border-radius-md;
    overflow: hidden;
    transition: 0.2s ease;

    &:hover {
      box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    }
  }

  .showcase-banner {
    position: relative;
  }

  .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
  }

  .product-img.default {
    position: relative;
    z-index: 1;
  }

  .product-img.hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
  }

  .showcase:hover .product-img.hover {
    opacity: 1;
  }

  .showcase:hover .product-img.default {
    opacity: 0;
  }

  .showcase:hover .product-img {
    transform: scale(1.1);
  }

  .showcase-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: greenyellow;
    font-size: 16px;
    font-weight: 500;
    color: $colors-white;
    padding: 0 8px;
    border-radius: $border-radius-md;
    z-index: 3;
  }

  .showcase-badge.angle {
    top: 8px;
    left: -29px;
    transform: rotate(-45deg);
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 40px;
  }

  .showcase-badge.black {
    background: $colors-black;
  }

  .showcase-badge.pink {
    background: $colors-primary;
  }

  .showcase-content {
    padding: 15px 20px 0;
  }

  .showcase-category {
    color: $colors-primary;
    font-size: 13.5px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .showcase-title {
    color: $colors-grey;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      color: $colors-black;
    }
  }

  .price-box {
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: $colors-primary;
    margin-bottom: 10px;
  }

  .price {
    font-weight: 700;
  }

  del {
    color: $colors-grey;
  }
}

.showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: 0.2s ease;
  z-index: 3;
}

.showcase:hover .showcase-actions {
  transform: translateX(0);
}

.btn-action {
  background: $colors-white;
  color: $colors-grey;
  margin-bottom: 5px;
  border: 1px solid $colors-outline;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: $border-radius-sm;
  transition: 0.2s ease;

  &:hover {
    background: $colors-black;
    color: $colors-white;
    border-color: $colors-black;
  }
}
